<div class="container-fluid all">
	<div class="over">
		<div class="row center">
			<h1>Todos aprendemos de maneras diferentes</h1>
			<div class="wrapperButton">
				<%= button_to "Ver videos", pins_path, :class => "btn btn-lg btn-goal", :method => :get  %>
				<%= button_to "Registrarme", new_user_registration_path, :class => "btn btn-lg btn-second", :method => :get  %>
			</div>
		</div>		
	</div>
	
</div>