<div class="container-fluid all">
	<div class="over">
		<div class="row center">
			<h1>Todos aprendemos de maneras diferente</h1>
			<h3></h3>
			<div class="wrapperButton">
				<%= button_to "Ver videos", pins_path, :class => "btn btn-lg btn-goal", :onclick => "mixpanel.track("bibloteca");", :method => :get  %>
				<%= button_to "Registrarme", new_user_registration_path, :class => "btn btn-lg btn-second", :onclick => "mixpanel.track("registrar");", :method => :get  %>
			</div>
		</div>		
	</div>
	
</div>